<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @home.index %>
</p>

<p>
  <strong>About:</strong>
  <%= @home.about %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @home.contact %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
